extends layout

block content
  .col.s12
    .row 
      .col.s6
        p.center.blue-text.text-darken-2 Formulario de  #{title}
        form(method="post")
          .container
            .file-field.input-field
              .btn
                span File
                input(name="img",type='file', multiple='')
              .file-path-wrapper
                input.file-path.validate(type='text', placeholder='Upload one or more files')
            .center
              label(for='codigo') codigo RFID
              .center
                input#input_text(name="codigo",type="text",placeholder="Leer el RFID",required="required").center
            .center
              input(name="nombre",type="text",id="input_text",placeholder="Escribe su Nombre",required="required").center
              label(for="input_text")
            .center
              label(for="CI") CI
              input(name="ci",type="number",placeholder="Escribir CI",required="required").center
            .center
              label Cargo
                select(name="cargo").browser-default
                  option(value='', disabled='', selected='') Seleccione turno
                  option(value='Jefe') Jefe
                  option(value='Perforista') Perforista
                  option(value='Peon') Peon
            .center
              label Seccion
              select(name="seccion").browser-default
                  option(value='', disabled='', selected='') selecione seccion
                  option(value='1') sec1
                  option(value='2') sec2
                  option(value='3') sec3
            .center
              label Turno
              .container
                a
                  input#test1(name='turno', type='radio')
                  label(for='test1') primero
                a
                  input#test2(name='turno', type='radio')
                  label(for='test2') segunda
                a
                  input#test3(name='turno', type='radio')
                  label(for='test3') tersera
            .center
              label(for='registro')
              .center
                button.btn.waves-effect.waves-light(type='submit', name='action') Regitrar
                  i.material-icons.right send
      .col.s6
          -if(obrero)
            h1 obrero registrado
            img(src="#{obrero.img}")
            h5 nombre: #{obrero.nombre}
            h5 codigo: #{obrero.codigo}
            h5 hora: #{obrero.hora}
            h5 ci: #{obrero.ci}
            h5 seccion: #{obrero.seccion}
            h5 estado: #{obrero.estado}
            h5 cargo: #{obrero.cargo}
            h5 turno: #{obrero.turno}
            hr               