extends layout

block content
  h1= title
  p Welcome to #{title}
  -if(obrero)
    h1 Obrero Registrado
    h2 nombre: #{obrero.nombre}
    h2 codigo: #{obrero.codigo}
    h2 hora: #{obrero.hora}
    hr
  form(method="post")
    div
      label(for='codigo') codigo RFID
      div
        input(name="codigo",type="text",placeholder="Leer el RFID",required="required")
    div
      label(for="Nombre") Nombre de Usuario
      div
        input(name="nombre",type="text",placeholder="Escribe su Nombre",required="required")
    div
      label(for='registro')
      div
        input(type="submit",value='Registrar')
        a(href="index") Cancelar