extends layout

block content
  .col.12
    .row
      .col.s2
        label(for="CI").center Ordenar
        select.browser-default
          option(value='', disabled='', selected='') Seleccione turno
          option(value='1') Turno
          option(value='2') Cargo
          option(value='3') CI
        button.btn.waves-effect.waves-light(type='submit', name='action') Buscar
          i.material-icons.right send
      .col.s10
        h5.center= "OBREROS REGISTRADOS EN LA COOPERATIVA"        
        -if(obreros)
          .container
            table.striped.centered
              thead
                tr
                  th Foto
                  th Nombre
                  th codigo
                  th CI
                  th Cargo
                  th Seccion
                  th Estado
                  th Turno
                  th Horas Trabajadas
              tbody
                each obrero in obreros
                  tr
                    td
                      img(src=obrero.img)
                    td=obrero.nombre
                    td=obrero.codigo 
                    td=obrero.ci
                    td=obrero.cargo
                    td=obrero.seccion
                    td=obrero.estado
                    td=obrero.turno
                    td=obrero.hora
        -else
          p No existen obreros registrados