extends ../layout
block content
	h1 #{obrero.nombre} #{obrero.apellido}
	div(style='white-space:pre;') #{obrero.biografia}
	br
	table
		thead
			tr
				th Nombre
				th Apellido
		tboby
			tr
				td=obrero.nombre
				td=obrero.apellido
				td 
					a(href="/obreros/#{obrero._id}/ver") Ver Detalle
	a(href="/obreros") Volver atrás
